.item-list-area {
    width: 800px;
    padding-top: 60px;
}

.item-list-header {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding-bottom: 50px;
}

.item-list-title {
    font-size: 44px;
    padding-right: 20px;
    margin: 0px;
}

.item-list-total-items {
    font-size: 18px;
    padding-bottom: 5px;
    margin: 0px;
}

.clear-items {
    margin: 0px;
    padding-bottom: 5px;
    text-align: right;
    font-size: 14px;
    flex: 1;
}
.clear-items:hover{
    cursor: pointer;
}

.item-list {
    display: flex;
    flex-direction: column;
}

.item-row {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #C4C4C4;
    margin-bottom: 25px;
}
.item-row:last-child {
    border-bottom: none;
}

.item-info {
    display: flex;
    flex-direction: row;
}

.item-row div {
    flex-grow: 1;
}

.item-image-wrap {
    /* padding-left: 15px;
    padding-bottom: 20px; */
    align-self: center;

}

.item-image {
    width: 100px;
    height: 100px;
}

.item-text-info p {
    margin: 0px;
    margin-bottom: 10px;
}

.item-name {
    font-size: 16px;
}

.item-description {
    font-size: 12px;
    width: 265px;
}

.item-article {
    font-size: 14px;
}

.quantity-area {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    align-items: center; 
    gap: 8px;
}

.quantity-controls {
    display: flex;
    flex-direction: row;
    width: 100px;
}

.quantity-controls>* {
    text-align: center;
    background-color: #F6F8FA;
    border: 0;
    height: 34px;
    width: 34px;
    font-size: 14px;
}

.quantity {
    margin-left: 2px;
    margin-right: 2px;
    justify-content: center;
    display: flex;
    align-items: center;

}
.quantity p{
    margin: 0px;
    
}
.decrease-quantity{
    border-radius: 4px 0px 0px 4px;
    transition: background-color 0.2s ease;
}
.increase-quantity{
    border-radius: 0px 4px 4px 0px;
    transition: background-color 0.2s ease;
}

.price-per {
    font-size: 12px;
    text-align: center;
    height: 20px;
}

.decrease-quantity:hover, .increase-quantity:hover{
    cursor: pointer;
    background-color: #e9ecef;

}
.item-total-price {
    font-size: 18px;
    align-self: center;
    text-align: center;
}
.remove-item-wrap{
    flex-grow: 0 !important;
}
.remove-item-wrap:hover{
    cursor: pointer;
}
.remove-item-icon{
    width: 12px;
    height: 12px;
}
.installation-area{
    background-color: #F6F8FA;
    display: flex;
    flex-direction: row;
    height: 100px;
    align-items: center;
}
.installation-checkbox-wrap{
    margin: 25px;
}
.installation-checkbox{
    width: 20px;
    height: 20px;
}
.installation-icon-wrap{
    height: 50px;
    width: 50px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 25px;
    border-radius: 5px;

}
.installation-icon{
    height: 30px;
    width: 30px;
}
.installation-text{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.installation-text-title{
    font-size: 16px;
}
.installation-text-details{
    font-size: 14px;
}