@font-face {
    font-family: 'Lato';
    src: url('/fonts/Lato-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: 'Lato', sans-serif;
    color: #33374E;
    background-color: #FFFFFF;
    padding-left: 80px;
    padding-right: 80px;
    width: 1440px;
    box-sizing: border-box;
}

.gray-text {
    color: #797B86;
}

.nav-panel {
    font-size: 14;
    display: flex;
    flex-direction: row;
}

.cart{
    display: flex;
    flex-direction: row;
}

